{% extends '::base.html.twig' %}

{% block body -%}
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1>My tasks</h1>
            </div>
        </div>

    </div>

    <br>

    {% for entity in entities %}
        <div class="row-3">
            <div class="col-sm-6 col-md-4 text-center">
                <div class="thumbnail">
                    <div class="caption">
                        <div><h3>{{ entity.name }}</h3></div>
                        <p>{{ entity.description }}</p>

                        <p>{% if entity.toBeFinishedAt %}deadline: {{ entity.toBeFinishedAt|date('Y-m-d') }}{% endif %}
                            , {{ entity.comments|length }} comments </p>

                        <div class="dropdown">
                            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Action
                                <span class="caret"></span></button>
                            <ul class="dropdown-menu">
                                <li><a href="{{ path('task_show', { 'id': entity.id }) }}">Show details</a></li>
                                {% if entity.isCompleted %}

                                {% else %}
                                    <li><a href="{{ path('task_edit', { 'id': entity.id }) }}">Edit</a></li>
                                    <li><a href="{{ path('task_complete', { 'id': entity.id }) }}">Done!</a></li>
                                {% endif %}
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    {% endfor %}


{% endblock %}
