{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Task</h1>

    <table class="record_properties">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Name</th>
            <td>{{ entity.name }}</td>
        </tr>
        <tr>
            <th>Description</th>
            <td>{{ entity.description }}</td>
        </tr>
        <tr>
            <th>Createdat</th>
            <td>{{ entity.createdAt|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>Tobefinishedat</th>
            <td>{{ entity.toBeFinishedAt|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>Status</th>
            {% if entity.isCompleted %}
                <td>done</td>
            {% else %}
                <td>undone</td>
            {% endif %}
        </tr>
        <tr>
            <th>Priority</th>
            <td>{{ entity.priority }}</td>
        </tr>
        </tbody>
    </table>

    <ul class="record_actions">
        <li>
            <a href="{{ path('task') }}">
                Back to the list
            </a>
        </li>

        <li>{{ form(delete_form) }}</li>
    </ul>

    {% if entity.isCompleted %}

    {% else %}
        <li>
            <a href="{{ path('task_edit', { 'id': entity.id }) }}">
                Edit
            </a>
        </li>
        <li>
            <a href="{{ path('task_complete', { 'id': entity.id }) }}">
                Done
            </a>
        </li>
    {% endif %}
{% endblock %}
