{% extends '::base.html.twig' %}

{% block body -%}
    <h1>My task</h1>

    <table class="record_properties">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th><h2>Name: </h2></th>
            <td><h2>{{ entity.name }}</h2></td>
        </tr>
        <tr>
            <th>Description</th>
            <td>{{ entity.description }}</td>
        </tr>
        <tr>
            <th>Createdat</th>
            <td>{{ entity.createdAt|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>Tobefinishedat</th>
            <td>{{ entity.toBeFinishedAt|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>Status</th>

            {# display 'done' or 'undone' instead of 1 or 2 #}
            {% if entity.isCompleted %}
                <td>done</td>
            {% else %}
                <td>undone</td>
            {% endif %}
        </tr>
        <tr>
            <th>Priority</th>
            <td>{{ entity.priority }}</td>
        </tr>
        </tbody>
    </table>

    <ul class="record_actions">
        <li>
            <a href="{{ path('task') }}">
                Back to the list
            </a>
        </li>
        <li>
            <a href="{{ path('app_main_index') }}">
                Homepage
            </a>
        </li>

        <li>{{ form(delete_form) }}</li>
        <li>{{ form(add_comment_form) }}</li>
    </ul>

{# hide links do edit and isCompleted for tasks with status 'done' #}
    {% if entity.isCompleted %}

    {% else %}
        <li>
            <a href="{{ path('task_edit', { 'id': entity.id }) }}">
                Edit
            </a>
        </li>
        <li>
            <a href="{{ path('task_complete', { 'id': entity.id }) }}">
                Done
            </a>
        </li>
    {% endif %}

    {# show comments below each task #}
    {% for comment in entity.getComments %}
        {{ comment.content }} <br>
        {{ comment.createdAt|date('Y-m-d H:i:s') }} <br><br>
    {% endfor %}

{% endblock %}
